[Unit]
Description=Git Auto Commander
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gac.sh
Restart=always

[Install]
WantedBy=multi-user.target